/*
	This file contains a combination of CSS directives required for the Kohana table module and
	a handful of overrides/supplements for the jquery tablesorter plugin.
*/

.datatable {
	clear: right ;
}

	.datatable table{
		border-collapse:collapse;
		width:100%;
	}

	.datatable thead th{
		color:#FFF;
		background-color:#a5988a;
		white-space:nowrap;
	}

	.datatable tbody th
	{
		padding-left:30px;
		background-color:#eee;
		font-weight:bold;
		vertical-align:top;
	}

	.datatable tr {
		border-top:1px dotted #CCC;
	}

	.datatable tr:first-child {
		border-top:none;
	}

	.datatable td, .datatable th {
		padding:3px 10px 3px 6px;
	}

	.datatable th {
		text-align:left;
	}

	.datatable tfoot td {
		padding-top:15px;
		border:none !important;
		text-align:center;
	}

	.datatable caption {
		font-size:14px;
		font-weight:bold;
		border-bottom:1px solid #AAA;
		padding:3px;
	}

	.no-data {
		background-color: #EEEEEE ;
		text-align: center ;
		padding: 4px ;
		font-style: italic ;
		color: #333333 ;
	}

/*
------------------------------------------------------------------------------------------------
-- SPECIAL
------------------------------------------------------------------------------------------------
*/

	/* titles */

	.datatable tr.row-group {
		border-top:none !important;
	}

	.datatable .row-group td {
		text-align:left;
		border-bottom: 1px solid #000;
		font-weight:bold;
		font-variant:small-caps;
		height:50px;
		vertical-align:bottom;
		color:#C03;
	}

	/* zebra striping */

	.datatable .zebra th
	{
		padding-left:30px;
		background-color:#ddd !important;
	}

	.datatable .zebra td{
		background-color:#EEEEEE;
	}

		
		
	/* formatting */

	.datatable .red{
		color:red !important;
		}

	.datatable .green{
		color:green;
		}

	.datatable .blue{
		color:blue;
		}

	.datatable .joined{
		border-left:1px solid #000;
		border-right:1px solid #000;
		background:#EEE;
	}

	/* form elements */

	.datatable table input, table select{
		width:100%;
	}

	.datatable tbody tr:hover td, .datatable tbody tr.odd:hover td {
		background-color: #FFE680 ;
	}
/* prevent browsers from shrinking checkboxes to ridiculously small sizes. */
	.checkbox-column {
		min-width: 24px ;
	}
			
/*
------------------------------------------------------------------------------------------------
-- tablesorter (jquery plugin)
------------------------------------------------------------------------------------------------
*/

/* sorting arrows. */

/* 
table.tablesorter thead tr .header,
.tablesorter-header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 24px !important;
}
table.tablesorter thead tr .headerSortUp,
.tablesorter-headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown,
.tablesorter-headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter tbody tr.odd td {
	background-color:#e8e8e4;
}
 */

/* The wysiwyg editor throws in paragraph tags-- this is to prevent them from padding the height of the cells. */

table.tablesorter tbody tr td p:first-child {
	margin-top: 0px ;
	padding-top: 0px ;
}

table.tablesorter tbody tr td p:last-child {
	margin-bottom: 0px ;
	padding-bottom: 0px ;
}

/*
------------------------------------------------------------------------------------------------
-- table filter
------------------------------------------------------------------------------------------------
*/

form#filter {
/*	clear: both ;*/
	margin: 4px 0px ;
}

form#filter select {
	max-width: 280px ;
}

form#filter select[name="filter_column"] {
	margin-left: 12px ;
}

form#filter .filter_submit {
	margin-left: 12px ;
}


/*
------------------------------------------------------------------------------------------------
-- supplemental data styles
------------------------------------------------------------------------------------------------
*/

.supplemental-highlight {
	
}

.supplemental-highlight td:not(.actions) {
	font-weight: bold ;
}

.supplemental-highlight td {
	background-color: #8FB4C6 !important ;
}

.supplemental-highlight a, .supplemental-highlight a:visited {
	color: #135472 ;
}

.supplemental-table {
	display: none ;
	width: 400px ;
	overflow: auto ;
	background-color: #ffffff ;
	border: 1px solid #135472 ;
	padding: 4px ;
	position: absolute ;
}

.supplemental-table th {
	text-align: right ;
	padding: 3px !important ;
}
.supplemental-table td {
	padding: 3px !important ;
}

.action-disabled {
	color: #999999 ;
}