/*************
Default Theme
*************/
/* overall */
.tablesorter-ask {
	width: 100%;
	/* font: 12px/18px Arial, Sans-serif; */
	color: #333;
	background-color: #fff;
	border-spacing: 0;
	margin: 10px 0 15px;
	text-align: left;
}

/* header */
.tablesorter-ask th,
.tablesorter-ask thead td {
	/* font: bold 12px/18px Arial, Sans-serif; */
	color: #FFFFFF;
	background-color: #69C;
	border-collapse: collapse;
/*	border-bottom: #ccc 2px solid;*/
	padding: 0;
}
.tablesorter-ask tfoot th {
	border: 0;
}
.tablesorter-ask .header,
.tablesorter-ask .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: normal;
}
.tablesorter-ask thead .headerSortUp,
.tablesorter-ask thead .tablesorter-headerSortUp,
.tablesorter-ask thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
/*	border-bottom: #000 2px solid;*/
}
.tablesorter-ask thead .headerSortDown,
.tablesorter-ask thead .tablesorter-headerSortDown,
.tablesorter-ask thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
/*	border-bottom: #000 2px solid;*/
}
.tablesorter-ask thead .sorter-false {
	background-image: none ;
}

/* tfoot */
.tablesorter-ask tfoot .tablesorter-headerSortUp,
.tablesorter-ask tfoot .tablesorter-headerSortDown,
.tablesorter-ask tfoot .tablesorter-headerAsc,
.tablesorter-ask tfoot .tablesorter-headerDesc {
	border-top: #000 2px solid;
}

/* tbody */
.tablesorter-ask td {
	background-color: #fff;
	border-top: #ccc 1px dotted; 
	padding: 4px;
	vertical-align: top;
}

/* hovered row colors */
.tablesorter-ask tbody > tr:hover > td,
.tablesorter-ask tbody > tr.even:hover > td,
.tablesorter-ask tbody > tr.odd:hover > td {
	background: #FFE680;
	color: #000;
}

/* table processing indicator */
.tablesorter-ask .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(../addons/pager/icons/loading.gif) !important; */
	background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

/* Zebra Widget - row alternating colors */
.tablesorter-ask tr.odd td {
	background-color: #F0F0F6;
}
.tablesorter-ask tr.even td {
	background-color: #FFFFFF;
}

/* Column Widget - column sort colors */
.tablesorter-ask tr.odd td.primary {
	background-color: #F0F0F6;
}
.tablesorter-ask td.primary,
.tablesorter-ask tr.even td.primary {
	background-color: #FFFFFF;
}
.tablesorter-ask tr.odd td.secondary {
	background-color: #F0F0F6;
}
.tablesorter-ask td.secondary,
.tablesorter-ask tr.even td.secondary {
	background-color: #FFFFFF;
}
.tablesorter-ask tr.odd td.tertiary {
	background-color: #F0F0F6;
}
.tablesorter-ask td.tertiary,
.tablesorter-ask tr.even td.tertiary {
	background-color: #FFFFFF;
}

/* filter widget */
.tablesorter-ask .tablesorter-filter-row td {
	background: #eee;
	border-bottom: #ccc 1px solid;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-ask .tablesorter-filter-row .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
.tablesorter-ask .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.tablesorter-ask .tablesorter-filter-row.hideme .tablesorter-filter {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.tablesorter-ask .tablesorter-filter {
	width: 95%;
	height: inherit;
	margin: 4px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
